.uploaded-file {
  border-bottom: solid 1px;
  margin: 5px;
}

.uploaded-file-name {
  display: inline-flex;
  max-width: 150px;
  width: 150px;
}

.uploaded-file-name-text {
  margin-left: 3px;
  max-width: 140px;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-pending {
  border: 5px solid #f3f3f3;
  border-radius: 50%;

  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.upload-level-one {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;

  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.status-icon {
  margin-right: 25px;
  float: right;
}

.upload-done {
  color: rgb(48, 143, 48);
}

.upload-canceled {
  color: rgb(218, 96, 96);
}
